extends layout

block content
    div
        h1 title
        p Bienvenu à l'application Demande de Congés
        p Cliquez ici pour
        ul
            li
                a(href='ddc-form') faire une demande de congés
                a(href='help') consulter l'aide
